* {
    margin: 0;
}

.logo-bar {
    height: 90px;
    background-color: black;
    position: relative;
}

.logo-img {
    width: 50px;
    position: absolute;
    top: 25%;
    left: 4%;
}

.logo-text {
    color: white;
    margin-left: 125px;
    line-height: 90px;
    overflow: hidden;
}

.nav-list {
    margin-right: 78px;
    float: right;
    color: white;
}

.nav-list li {
    display: inline-block;
    padding-left: 30px;
    list-style: none;
    line-height: 90px;
    overflow: hidden;
}

.left-nav-bar {
    background-color: gainsboro;
    width: 8%;
    list-style: none;
}

.left-nav-bar li {
    padding-top: 24px;
    padding-left: 3%;
}

.body-part {
    position: relative;
}

.last-nav {
    padding-bottom: 18px;
}

.article {
    width: 89%;
    position: absolute;
    top: 5%;
    left: 15%

}

.article-content {
    width: 50%;
    text-align: justify;
}

.article-content h3 {
    margin-bottom: 35px;
}

.article-content p {
    margin-bottom: 20px;
}

.article-img {
    position: absolute;
    top: 15%;
    left: 70%;
}


